$sand-1: #111110;
$sand-2: #191918;
$sand-3: #222221;
$sand-4: #2a2a28;
$sand-5: #31312e;
$sand-6: #3b3a37;
$sand-7: #494844;
$sand-8: #62605b;
$sand-9: #6f6d66;
$sand-10: #7c7b74;
$sand-11: #b5b3ad;
$sand-12: #eeeeec;
$amber-1: #16120c;
$amber-2: #1d180f;
$amber-3: #302008;
$amber-4: #3f2700;
$amber-5: #4d3000;
$amber-6: #5c3d05;
$amber-7: #714f19;
$amber-8: #8f6424;
$amber-9: #ffc53d;
$amber-10: #ffd60a;
$amber-11: #ffca16;
$amber-12: #ffe7b3;